{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block body %}
<div class="album py-5 bg-light">
    <div class="container my-3">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
          <img src="/static/img/ITI Dairecter.jpg" alt="...">
            <div class="card-body">
              <p class="card-text"><h4>DINESH KUMAR PANDEY</h4>
              <h6>DIRECTOR</h6></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/Pricphoto.jpeg" alt="..." style="
    height: 430px;">

            <div class="card-body">
              <p class="card-text"><h4>PRIYANSHU PANDEY</h4>
              <h6>PRINCIPAL<h6></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/ankushPhoto.jpeg" alt="..." style="
    height: 430px;">

            <div class="card-body">
              <p class="card-text"><h4>ALOK PANDEY</h4>
              <h6>VICE-PRINCIPAL<h6></p>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
   <div style="
    padding-left: 10px;
">
      <h5>Contact No : 9559958449, 9559956606</h5>
      <h5>Email : mahaveerpitikunda@gmail.com,  alokpandey158@gmail.com</h5>
      <h5>Address : Chausa Kunda Pratapgarh, Uttar Pradesh</h5>
    </div>
        <div style="
    padding-left: 10px;
    padding-bottom: 100px;
">
       <a href="https://www.google.com/maps/@25.7081326,81.4907212,20z" target="_blank" alt="..."><button type="button" class="btn btn-primary vmap" data-toggle="modal" data-target=".bs-example-modal-lg">
        Click here to view ITI Location on Google Map</button></a>
       </div>
{% endblock body %}